button{
    background-color: aqua;
}

.btn-clase{
    background-color: green;
}

#btn-id {
    background-color: blue;
}

.clase-menu .clase-valor{
    background-color: blueviolet;
}

[name=btn-comprar]{
    background-color: brown;
}
